[submodule "clinical-data"]
	path = clinical-data
	url = ./clinical-data
	datalad-id = e9315f36-2a83-11eb-935d-525400a81410
[submodule "images-in-BIDS"]
	path = images-in-BIDS
	url = https://github.com/conpdatasets/preventad-registered-images-in-BIDS.git
	datalad-id = f7720564-2a83-11eb-935d-525400a81410
[submodule "images-in-MINC"]
	path = images-in-MINC
	url = https://github.com/conpdatasets/preventad-registered-images-in-MINC.git
	datalad-id = f175f12a-2a83-11eb-935d-525400a81410
